<html>
<head>

  <title>Instagram Scrapper</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'loading.css' %}"/>
  <link rel="icon" href="{% static 'logo5.png' %}">
</head>



<h1>Scrapping in progress..</h1>
<div id="cooking">
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div id="area">
    <div id="sides">
      <div id="pan"></div>
      <div id="handle"></div>
    </div>
    <div id="pancake">
      <div id="pastry"></div>
    </div>
  </div>
</div>

</html>
</head>